<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>날씨 이메일 서비스</title>
    </head>

    <body>
        <h1>날씨 이메일 서비스</h1>

        <p><input id="email" placeholder="이메일을 입력하세요"></p>
        <p>지역 : <select id="location">
            <option value="seoul">서울특별시</option>
            <option value="busan">부산광역시</option>
            <option value="daegu">대구광역시</option>
            <option value="incheon">인천광역시</option>
            <option value="gwangju">광주광역시</option>
            <option value="daejeon">대전광역시</option>
            <option value="ulsan">울산광역시</option>
            <option value="sejong">세종특별자치시</option>
            <option value="gyeonggi">경기도</option>
            <option value="chungcheongNorth">충청북도</option>
            <option value="chungcheongSouth">충청남도</option>
            <option value="jeonraNorth">전라북도</option>
            <option value="jeonraSouth">전라남도</option>
            <option value="kyeongsangNorth">경상북도</option>
            <option value="kyeongsangSouth">경상남도</option>
            <option value="jeju">제주특별자치도</option>
            <option value="kangwon">강원특별자치도</option>
        </select></p>
        <p>시간 : <select id="reservedTime">
            <option value="0000">0시</option>
            <option value="0100">1시</option>
            <option value="0200">2시</option>
            <option value="0300">3시</option>
            <option value="0400">4시</option>
            <option value="0500">5시</option>
            <option value="0600">6시</option>
            <option value="0700">7시</option>
            <option value="0800">8시</option>
            <option value="0900">9시</option>
            <option value="1000">10시</option>
            <option value="1100">11시</option>
            <option value="1200">12시</option>
            <option value="1300">13시</option>
            <option value="1400">14시</option>
            <option value="1500">15시</option>
            <option value="1600">16시</option>
            <option value="1700">17시</option>
            <option value="1800">18시</option>
            <option value="1900">19시</option>
            <option value="2000">20시</option>
            <option value="2100">21시</option>
            <option value="2200">22시</option>
            <option value="2300">23시</option>
        </select></p>
        <button id="register">등록</button>

        <script src="/main.js"></script>
    </body>
</html>